<div class="container my-5">
  <div class="row bg-container p-5">
    <div class="col-md-4">
      <%= image_tag "https://image.tmdb.org/t/p/w500#{@movie.poster_path}", class: "img-fluid rounded" %>
    </div>
    <div class="col-md-6">
        <h2 class="txt-title"><%= @movie.original_title %></h2>
        <p class="txt-paragraph"><strong>Rating:</strong> <%= @movie.vote_average.ceil(1) %></p>
        <p class="txt-paragraph"><strong>Overview:</strong> <%= @movie.overview %></p>

        <p class="txt-paragraph"><strong>Genres:</strong>
            <% @movie.genres.each do |genre| %>
                <span class="badge bg-primary"><%= genre.name %></span>
            <% end %>
        </p>
        <%= link_to "Rent $00.00", new_user_registration_path, class:"btn-rent" %>
    </div>
    <div class="col-md-6">
        <%= link_to "", new_user_registration_path, class:"btn-close" %>
    </div>
  </div>
      <%# <%= image_tag "https://image.tmdb.org/t/p/w500#{@movie.backdrop_path}", class: "img-fluid" %>
</div>
