<div class="d-flex justify-content-between p-4 py-2">
  <div class="">
    <h1>UnlockedFlix</h1>
  </div>
  <div class="d-flex gap-4 align-items-center">
    <%= link_to "Sign up", new_user_registration_path, class:"d-flex" %>
    <%= link_to "Sign in", user_session_path, class:"d-flex" %>
  </div>
</div>
<section>
  <%= image_tag "banner.jpg", alt: "banner marvel", class:"banner-img" %>
</section>
<section id="trending">
  <div class="d-flex row justify-content-between p-3">
    <div class="p-3">
      <h2 class="p-3">Categories</h2>
      <%# <div class="d-flex gap-2 align-items-center">
        <i class="fa-solid fa-chevron-right"></i>
      </div> %>
    <div>
    
    <div>
      <ul class="d-flex gap-4">
          <li class="btn btn-warning px-2">Romance</li>
          <li class="btn btn-warning px-2">Science Fiction</li>
          <li class="btn btn-warning px-2">Mystery</li>
          <li class="btn btn-warning px-2">Adventure</li>
          <li class="btn btn-warning px-2">Fantasy</li>
          <li class="btn btn-warning px-2">Thriller</li>
          <li class="btn btn-warning px-2">Historical Fiction</li>
          <li class="btn btn-warning px-2">Dystopian</li>
          <li class="btn btn-warning px-2">Biography</li>
          <li class="btn btn-warning px-2">Horror</li>
          <li class="btn btn-warning px-2">Animation</li>
      </ul>
    </div>
  </div>
  <div class="row gap-2 m-4 col-12">
    <% @listMovies.each do |movie| %>
      <div class="card col-4" style="width: 18rem;">
        <img src=<%= movie[:image] %> class="card-img-top" alt="...">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title text-truncate"><%= movie[:title] %></h5>
            <h6 class="card-title bg-warning px-2 rounded"><%= movie[:rating] %></h6>
          </div>
          <p class="card-text custom-text-truncate"><%= movie[:description] %></p>
          <div class="d-flex justify-content-between align-items-center">
            <h6><%= movie[:year] %></h6>
            <a href="#" class="btn btn-info">Rent $0.00</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
